/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/database/factories
/database/migrations
/database/seeders
/storage/*.key
/vendor
/resources/views/Admin/Allviews
/resources/views/Admin/views/business-settings - Copy
UpdatesDue.txt
Api_routes.txt
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
composer.json
composer.lock
Homestead.json
Homestead.yaml
composer.json
composer.lock
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
